WebShop.Data/Contexts/Validation/ValidationSchemas/books.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="books" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="id" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="title" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:float" name="price" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="thumb-image" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="title-image" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="description" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>